task_name: "hello_world_c_compile"
task_type: "c_compile"
executable_name: "hello_world_c.exe"
src_files:
  - "hello_world.c"
external_objects:
  - "{@output:arith_c_compile:sum.o}"
  - "{@output:arith_c_compile:subtract.o}"
include_header_dirs:
  - "$(get_task_dir(arith_c_compile))"
